{% extends 'store/main.html' %}
{% load static %}

{% block title %}Carrito de Compras{% endblock title %}

{% block content %}

    {% include 'store/inc/navbar.html' %}

    <div class="page-heading bg-light">
        <div class="container">
            <div class="row align-items-end text-center">
                <div class="col-lg-7 mx-auto">
                    <h1>Carrito de Compras</h1>
                    <p class="mb-4"><a href="{% url 'index' %}">Inicio</a> / <strong>Cart</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-element">
                        <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Continuar Comprando</a>

                        <br>
                        <br>

                        <table class="table">
                            <tr>
                                <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                                <th><h5>Total: <strong>${{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
                                <th>
                                    <a style="float: right; margin: 5px" class="btn btn-success" href="{% url 'checkout' %}">Ir a Pagar</a>
                                </th>
                            </tr>
                        </table>
                    </div>

                    <br>

                    <div class="box-element">
                        <div class="cart-row">
                            <div style="flex: 2"></div>
                            <div style="flex: 2"><strong>Item</strong></div>
                            <div style="flex: 1"><strong>Precio</strong></div>
                            <div style="flex: 1"><strong>Cantidad</strong></div>
                            <div style="flex: 1"><strong>Total</strong></div>
                        </div>
                        {% for item in items %}
                            <div class="cart-row">
                                <div style="flex: 2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                                <div style="flex: 2">{{ item.product.name }}</div>
                                <div style="flex: 1">${{ item.product.price|floatformat:2 }}</div>
                                <div style="flex: 1">
                                    <p class="quantity">{{ item.quantity }}</p>
                                    <div class="quantity">
                                        <img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                                        <img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                                    </div>
                                </div>
                                <div style="flex: 1">${{ item.get_total }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="untree_co-section">
            <div class="container">
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6">
                        <h2 class="h3">Productos Relacionados</h2>
                    </div>
                    <div class="col-sm-6 carousel-nav text-sm-right">
                        <a href="#" class="prev js-custom-prev-v2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                                <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                        </a>
                        <a href="#" class="next js-custom-next-v2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </a>
                    </div>
                </div> <!-- /.heading -->
                <div class="owl-3-slider owl-carousel">
                    {% for product in products %}
                        {% if product.tendencia %}
                            <div class="item">
                                <div class="product-item">
                                    <a href="{% url 'view_product' product.slug %}" class="product-img">
                                        {% if product.nuevo %}
                                            <div class="label new top-right">
                                                <div class='content'>New</div>
                                            </div>
                                        {% endif %}

                                        <div class="label sale top-right second">
                                            <div class='content'>Sale</div>
                                        </div>
                                        <img src="{{ product.imageURL }}" alt="Image" class="img-fluid">
                                    </a>
                                    <h3 class="title"><a href="#">{{ product.name }}</a></h3>
                                    <div class="price">
                                        <span>S/ {{ product.price|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.untree_co-section -->
    </div>

    {% include 'store/inc/footer.html' %}
{% endblock content %}