{% extends 'store/main.html' %}
{% load static %}

{% block title %}Checkout{% endblock title %}

{% block content %}
    {% include 'store/inc/navbar.html' %}

    <div class="page-heading bg-light">
        <div class="container">
            <div class="row align-items-end text-center">
                <div class="col-lg-7 mx-auto">
                    <h1>Información de Pago</h1>
                    <p class="mb-4"><a href="{% url 'index' %}">Inicio</a> / <a href="{% url 'cart' %}">Cart</a> / <strong>Checout</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box-element" id="form-wrapper">
                        <form id="form">{% csrf_token %}
                            <div id="user-info">
                                <hr>
                                <h2>Datos Personales:</h2>
                                <hr>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="name" placeholder="Nombres..">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                                </div>
                            </div>

                            <div id="shipping-info">
                                <hr>
                                <h3>Información de Envío:</h3>
                                <hr>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Dirección..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Numero de Celular..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="Departamento..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="state" placeholder="Provincia..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Distrito..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="country" placeholder="Referencia de la Casa..">
                                </div>
                            </div>

                            <hr>
                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Pagar">
                        </form>

                    </div>
                    <br>

                    <div class="box-element hidden" id="payment-info">
                        <small>Paypal Options</small>
                        <div id="paypal-button-container"></div>
                        <!--<button id="make-payment">Make Payment</button>-->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box-element">
                        <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Regresar</a>
                        <hr>
                        <h3>Resumen de Pedido</h3>
                        <hr>

                        {% for item in items %}
                            <div class="cart-row">
                                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                                <div style="flex:1"><p>S/ {{ item.product.price|floatformat:2 }}</p></div>
                                <div style="flex:1"><p>x{{ item.quantity }}</p></div>
                            </div>
                        {% endfor %}

                        <h5>Items: {{ order.get_cart_items }}</h5>
                        <h5>Total: S/ {{ order.get_cart_total|floatformat:2 }}</h5>
                    </div>
                </div>
            </div>

            <!--<script src="https://www.paypal.com/sdk/js?client-id=AdE7I10KQkamxsDIOu9rqwhwx9IbIT5l89zNQbBGcv9BaybnAf7lGCAO9cjxeFh_ruIkXqA_QI9A_Ktl"></script>-->
            <script src="https://www.paypal.com/sdk/js?client-id=AdE7I10KQkamxsDIOu9rqwhwx9IbIT5l89zNQbBGcv9BaybnAf7lGCAO9cjxeFh_ruIkXqA_QI9A_Ktl&currency=USD&disable-funding=credit"></script>
            <script>
                var total = '{{ order.get_cart_total }}'
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    style:{
                        color:'blue',
                        shape:'rect',
                    },

                    // Set up the transaction
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: parseFloat(total).toFixed(2)
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(orderData) {
                            submitFormData()
                            // Successful capture! For demo purposes:
                            /*
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            var transaction = orderData.purchase_units[0].payments.captures[0];
                            alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                            */
                            // Replace the above to show a success message within this page, e.g.
                            // const element = document.getElementById('paypal-button-container');
                            // element.innerHTML = '';
                            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                            // Or go to another URL:  actions.redirect('thank_you.html');
                        });
                    }


                }).render('#paypal-button-container');
            </script>

            <script type="text/javascript">
                var shipping = '{{ order.shipping }}'



                if(shipping == 'False'){
                    //document.getElementById('shipping-info').innerHTML = ''
                }

                if(user != 'AnonymousUser'){
                    //document.getElementById('user-info').innerHTML = ''
                }

                if(shipping == 'False' && user != 'AnonymousUser'){
                    document.getElementById('form-wrapper').classList.add("hidden");
                    document.getElementById('payment-info').classList.remove("hidden");
                }

                var form = document.getElementById('form')

                csrftoken = form.getElementsByTagName("input")[0].value
                console.log('Newtoken:', form.getElementsByTagName("input")[0].value)


                form.addEventListener('submit', function (e){
                    e.preventDefault()
                    console.log('Form submitted...')
                    document.getElementById('form-button').classList.add('hidden')
                    document.getElementById('payment-info').classList.remove('hidden')
                })

                /*
                document.getElementById('make-payment').addEventListener('click', function (e){
                    submitFormData()
                })
                */

                function submitFormData(){
                    console.log('Payment button clicked')

                    var userFormData = {
                        'name':null,
                        'email':null,
                        'total':total,
                    }

                    var shippingInfo = {
                        'address':null,
                        'city':null,
                        'state':total,
                        'zipcode':null,
                    }

                    if(shipping != 'False'){
                        shippingInfo.address = form.address.value
                        shippingInfo.city = form.city.value
                        shippingInfo.state = form.state.value
                        shippingInfo.zipcode = form.zipcode.value
                    }

                    if(user == 'AnonymousUser'){
                        userFormData.name = form.name.value
                        userFormData.email = form.email.value
                    }

                    var url = '/process_order/'
                    fetch(url,{
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log('Success:', data);

                            alert('Transaction completed');
                            //alertify.success('Pago Realizado Correctamente')

                            cart = {}
                            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                            window.location.href = "{% url 'store' %}"
                        })

                }
            </script>
        </div>

        <div class="untree_co-section">
            <div class="container">
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6">
                        <h2 class="h3">Productos Relacionados</h2>
                    </div>
                    <div class="col-sm-6 carousel-nav text-sm-right">
                        <a href="#" class="prev js-custom-prev-v2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                                <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                        </a>
                        <a href="#" class="next js-custom-next-v2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </a>
                    </div>
                </div> <!-- /.heading -->
                <div class="owl-3-slider owl-carousel">
                    {% for product in products %}
                        {% if product.tendencia %}
                            <div class="item">
                                <div class="product-item">
                                    <a href="{% url 'view_product' product.slug %}" class="product-img">
                                        {% if product.nuevo %}
                                            <div class="label new top-right">
                                                <div class='content'>New</div>
                                            </div>
                                        {% endif %}

                                        <div class="label sale top-right second">
                                            <div class='content'>Sale</div>
                                        </div>
                                        <img src="{{ product.imageURL }}" alt="Image" class="img-fluid">
                                    </a>
                                    <h3 class="title"><a href="#">{{ product.name }}</a></h3>
                                    <div class="price">
                                        <span>S/ {{ product.price|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.untree_co-section -->
    </div>

    {% include 'store/inc/footer.html' %}
{% endblock content %}






















